{
"extends": [
  "airbnb-base",
  "plugin:security/recommended",
  "eslint:recommended",
  "plugin:node/recommended"
  ],
"plugins": [
  "node",
  "security",
  "mocha"
  ],
  "rules": {
    "node/no-unsupported-features": 0
  }
}